@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
    --color-primary: #2fcc71;
    --color-secondary: #55be81;
}

@layer base {

    * {
        @apply outline-none;
    }
    
    html {
        font-family: 'Outfit', sans-serif;
    }

    button {
        @apply cursor-pointer;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        @apply appearance-none;
    }
}

@layer components {
    .nav-link {
        @apply flex items-center gap-3 px-3 py-2 rounded-sm cursor-pointer transition-colors duration-150 hover:text-white hover:bg-secondary text-gray-500;
    }

    .nav-link.active {
        @apply text-white bg-secondary
    }
    button {
        @apply cursor-pointer;
    }
}